    /*
The CSS code gets to executed from top to bottom and left ro right

Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background: #ccc;
    color: #333;
    text-align: center;
    font-family: sans-serif;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.introSearch {
    margin: 2rem auto;
    font-size: 35px;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

input {
    padding: .5rem;
    margin-bottom: 1rem;
}

.imageList {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.imageList li {
    width: 14%;
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5%;
    margin-right: 0.5%;
    height: 14rem;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 1rem 2%;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
    background-color: #eee;
}

.imageList li .div-image {
    width: 98%;
    height: 10rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid #333;
    -webkit-box-shadow: inset 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
}

.imageList li .caption {
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
    /* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/
    /* -------------------------------------
place all the desktop styles above this line

Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)

place all the mobile tables styles bellow this line
*/
